*{
    margin: 0;
    padding:0;
}
li {
    list-style: none;
}

h1 ,.button,.search{
    text-align: center;
    margin: 10px;
}
h3{
margin-left:150px;

}
table{
    width: 1000px;
    margin: 30px auto;
    border-collapse: collapse;
    text-align: center;
}
td,th{
  border: 1px solid #333;  
   height: 30px;
    background-color: #ccc;
}
/* tr{
    height: 10px;
    background-color: #ccc;
} */
input{
    border: 1px solid #333; 
    /* border: none; */
     height: 30px;
     width: 80px;
    background-color: #ccc;
}
